<%include partials/header %>

<h1 align="center" class="mt-3">Request submitted successfully!</h1>
<p align="center">Please wait while we get back to you</p>
<center><a href="/emergency" class="btn btn-danger">Go back</a></center>

<%include partials/footer %>