<%include partials/header %>

<h1 align="center" class="mt-3">Some error occured</h1>
<p align="center">Please check your internet connection</p>
<center><a href="/" class="btn btn-danger">Go back</a>

<%include partials/footer %>