*{
  padding: 0px;
  margin: 0px;
  font-family: 'Slabo 27px', serif;
}
#particles-js{
  width: 100%;
  background-color: lightcoral;
  background-position: 50% 50%;
  height: auto;
}        
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(128,0,128,1); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/*
*/
