*{
    margin:0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

.select{
    margin-top: 10px;
    background: url(../images/bac1.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 850px;
}

.select1{
    margin-top: 15px;
    background: url(../images/bac.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 830px;
}
.input-tag{
    margin:60px 0px 0px 100px;
}
.space{
    margin: 20px 0px;
    height:00px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    border-style: none;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;
}

.wrapper-2 {
	width: 100px;
	height: 100px;
	background: #0d6265;
	border-radius: 100px;
	margin: -120px 1650px;
	cursor: pointer;
	position: absolute;
	transition: all ease-in-out 0.5s;
	z-index: 1000;
}

.hamburger-2 {
	width: 50px;
	height: 6px;
	background: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 2px 2px rgba(0,0,0,.1);
	transition: all linear 0.3s;
}

.hamburger-2:before,
.hamburger-2:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 6px;
	background: #FFF;
	box-shadow: inset 0px 2px 5px rgba(0,0,0,0.1);
		transition: all linear 0.3s;
}
.hamburger-2:before{
	top: -16px;
	transition: all linear 0.3s;
	left: 0px;
}
.hamburger-2:after{
	top: 16px;
	transition: all linear 0.3s;
	left: 0px;
}


.wrapper-2.active-2 .hamburger-2{
	box-shadow: none;
}
.wrapper-2.active-2 .hamburger-2:before{
	width: 30px;
	transform: rotate(35deg);
	top: -10px;
	left: 20px;
	box-shadow: none;
}
.wrapper-2.active-2 .hamburger-2:after{
	width: 30px;
	transform: rotate(-35deg);
	top: 10px;
	left: 20px;
	box-shadow: none;
}
